<configuration>
    <!-- Console appender (Heroku and most cloud platforms use stdout) -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level: %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root logger -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- Separate log level for specific packages -->
    <logger name="io.ktor" level="DEBUG"/> <!-- Debug Ktor framework logs -->
</configuration>